<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Admin style.css') }}"> <!-- Link to your CSS file -->
</head>

<body>

    <nav>
        <h4>Welcome to Admin Dashboard</h4>
        <ul>
            <li><a href="{{ url_for('admin_dashboard') }}">Home</a></li>
            <li><a href="{{ url_for('adsearch') }}">Search</a></li> <!-- Link to Search page -->
            <li><a href="{{ url_for('adsummary') }}">Summary</a></li> <!-- Link to Summary page -->
            <li><a href="logout.html">Logout</a></li>
        </ul>
    </nav>    

    <div class="main1" id="search">
        <h2>Search</h2>
        <label for="search-type">Search by:</label>
        <select id="search-type">
            <option value="service-request">Service Request</option>
            <option value="customer">Customer</option>
            <option value="professional">Professional</option>
        </select>
        <input type="text" placeholder="Enter search text">
        <button>Search</button>
    </div>
</body>
</html>
