<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header1">
        <img src="https://i.ibb.co/Mhh1fXd/logo.jpg" alt="logo" width="100px" height="75px" style="margin-left: 6%;">
        <input type="text" placeholder="Search here..." name="search" class="search">
        <a href="/customer-login" class="button1">Login</a>
    </div><br><br><br>
    <ul>
        <li><a href="#1" class="a1">HOME</a></li>
        <li><a href="#2" class="a1">SERVICES</a></li>
        <li><a href="#3" class="a1">SHOPPING</a></li>
        <li><a href="#5" class="a1">CART</a></li>
    </ul>
    <div class="main0">
        <h1 style="color: white;">
            WELCOME User TO KHHaS SERVICES.
        </h1>
    </div>
    <h3 class="typing">
        HOW MAY I HELP YOU ?
    </h3>
    <div><h1 style="text-align: center; color: white;">Here are the Services We Provide, Only for you!!!</h1>
    <br><div class="main1">
        <a href="https://ibb.co/pLTc4y1"><img src="https://i.ibb.co/ZMr5cmf/ac.jpg" alt="ac" border="0" width="80px"></a>
        <a href="https://ibb.co/HX4Lk1h"><img src="https://i.ibb.co/JCtWM03/bathtub.jpg" alt="bathtub" border="0" width="80px"></a>
        <a href="https://ibb.co/2yppfmg"><img src="https://i.ibb.co/Y3VVqYp/car.jpg" alt="car" border="0" width="80px"></a>
        <a href="https://ibb.co/j4CXLBB"><img src="https://i.ibb.co/MNz0RWW/carpet.jpg" alt="carpet" border="0" width="80px"></a>
        <a href="https://ibb.co/wsJ9Gdv"><img src="https://i.ibb.co/8czWvmh/chair.jpg" alt="chair" border="0" width="80px"></a>
        <a href="https://ibb.co/gFQvxt2"><img src="https://i.ibb.co/bRYHkN0/chimney.jpg" alt="chimney" border="0" width="80px"></a>

    </div><br>
    <div class="main1">
        <a href="https://ibb.co/qJ8t4qc"><img src="https://i.ibb.co/J3Tfb6G/deep-cleaning.jpg" alt="deep-cleaning" border="0" width="80px"></a>
        <a href="https://ibb.co/wKhC30J"><img src="https://i.ibb.co/mH5t1Dv/electrician.jpg" alt="electrician" border="0"width="80px"></a>
        <a href="https://ibb.co/7SLPwzG"><img src="https://i.ibb.co/RgdfxSC/fridge.jpg" alt="fridge" border="0" width="80px"></a>
        <a href="https://ibb.co/8dywSwx"><img src="https://i.ibb.co/tx06W62/geyser.jpg" alt="geyser" border="0"width="80px"></a>
        <a href="https://ibb.co/MMBN2fm"><img src="https://i.ibb.co/dGmKWtR/kitchen.jpg" alt="kitchen" border="0"width="80px"></a>
    </div><br>
    <div class="main1">
        <a href="https://ibb.co/XtZkswz"><img src="https://i.ibb.co/kXg68dh/microwave.jpg" alt="microwave" border="0"width="80px"></a>
        <a href="https://ibb.co/mCNZzgF"><img src="https://i.ibb.co/QFDSmtj/plumber.jpg" alt="plumber" border="0"width="80px"></a>
        <a href="https://ibb.co/0Mb9SMD"><img src="https://i.ibb.co/DC2MyCV/sanitization.jpg" alt="sanitization" border="0"width="80px"></a>
        <a href="https://ibb.co/rwyTzky"><img src="https://i.ibb.co/RDHZs2H/sofa.jpg" alt="sofa" border="0"width="80px"></a>
        <a href="https://ibb.co/tPyLkv2"><img src="https://i.ibb.co/qFbJXcg/washing-machine.jpg" alt="washing-machine" border="0"width="80px"></a>
        <a href="https://ibb.co/bbxPsxw"><img src="https://i.ibb.co/Sf2Pt2Y/water-tank.jpg" alt="water-tank" border="0"width="80px"></a>
    </div>
    <h2 style="text-align: center; color: #fff;">Our Partners</h2>
    <div class="main2">
        <a><img src="https://d2dgt4tr79mk87.cloudfront.net/manufacturer/Ababeel-Leathers-185x88.png"></a>
        <a><img src="https://d2dgt4tr79mk87.cloudfront.net/manufacturer/2017-10-12-185x88.png"></a>
        <a><img src="https://d2dgt4tr79mk87.cloudfront.net/manufacturer/afterscake-removebg-preview.png"></a>
        <a><img src="https://allcare3mstores.com/wp-content/uploads/2021/11/allcare-new.jpg"></a>
    </div>
    <div class="main3">
        <h1 style="text-align: center; color: white;">Why Choose KHHaS?</h1><br>
            <ol><li>On Demand Scheduled</li>
            <li>Verified Partners</li>
            <li>Service Warranty</li>
            <li>Online Payments</li>
            <li>24/7 Online Support</li>
        </ol>
    </div>
    <h2 style="text-align: center; color: white; font-size: 45px;">
        Hire Professional Home Service Experts in Delhi
    </h2><hr>
    <p style="color: white; font-size: 22px; padding: 15px; text-align: justify;">
        Delhi is the capital of India and having most populated cities as well here people are leaving from different part of the country. Delhi is the most historical city as and busiest city as well. Their many monuments to watch. Here most of the people come from different part of country from Job and earning the money. After moving here with family or alone need to be settling required a lot of home service so we can easily settle in the city.<br><br>
        When we are new in the city need reliable and quick hiring source of home need service so we can avail the service with reasonable cost and good service from professional of home service provider in Delhi.<br><br>
        Here <b>KHHaS</b> is the platform have service provider register there.<b>KHHaS</b> register professional on the platform check with last experience had by professional and quality team check the work quality of professional so customer will get good experience with professional home service providers in Delhi. <b>KHHaS</b> have easy process as well to hire the professional through the platform. Below is the mention of the <b>KHHaS</b> process to hire the professional. <br><br>
        Choose the home service what you need as per the requirement its very easy to navigate on city Delhi.<br>
        After choosing the required services go head and choose your location in Delhi, where you need the service so <b>KHHas</b> on the basis of your location fetch the nearest professional so you can get service instantly with relevant cost.<br>
        After putting the location you need to put your personal details so professional can reach easily and fix schedule with you for the service you need.<br><br><br>
    </p></div>
    <footer>
        <img src="logo.jpg" align='center' width="100px" height="75px"><h3>KHaaS Services</h3>
        <p>KHaaS connects Delhi residents with trusted home service professionals, offering quick, quality services at fair rates. It's the simple way to access reliable help across the city.</p>
        <h3>Follow Us</h3>
        <a href="#"><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png' alt="Instagram" width="80px"></a>
        <a href="#"><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png' alt="Instagram" width="80px"></a>
        <a href="#"><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png' alt="Instagram" width="80px"></a>
        <a href="#"><img src='https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png' alt="Instagram" width="80px"></a>
        <p>Copyright &#169 KHaaS Services <script>document.write(new Date().getFullYear());</script></p>
    </footer>
</body>
</html>
